html,
body {
  padding: 0;
  margin: 0;
}
#root {
  height: 100vh;
  padding-top: 3em;
}
body {
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}

:root {
  --primary-color-1: rgba(180, 180, 0, 100%);
  --primary-color-2: rgba(180, 180, 0, 60%);
  --primary-color-3: rgba(180, 180, 0, 30%);
  --secondary-color-1: rgba(180, 0, 90, 100%);
  --tertiary-color-1: rgba(180, 90, 0, 100%);
}
