/client/.nyc_output/out.json
/bin
/docs
/api-docs
*.log
/project-cppcheck-build-dir
project.cppcheck
**/node_modules
/server/src/appicon.rc
/server/src/config.hpp
/server/src/versioninfo.rc
/data-management/appicon.rc
/data-management/src/config.hpp
/data-management/versioninfo.rc
/server/test/it/appicon.rc
/server/test/it/config.hpp
/server/test/it/versioninfo.rc
/server/test/ut/appicon.rc
/server/test/ut/config.hpp
/server/test/ut/versioninfo.rc
/data-management/src/appicon.rc
/data-management/src/versioninfo.rc
/data-management/test/ut/appicon.rc
/data-management/test/ut/config.hpp
/data-management/test/ut/versioninfo.rc
