{
  "rules": {
    "jest/expect-expect": "off",
    "jest/valid-title": "off",
    "jest/valid-expect": "off",
    "promise/no-nesting": "off",
    "promise/catch-or-return": "off",
    "@typescript-eslint/no-var-requires": "off"
  }
}
